<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


	<bean id="populateBean" class="org.williamsun.spring.test.populateBean.PopulateBean" autowire="byType">
		<property name="name" value="张三"/>
		<property name="age" value="20"/>
		<property name="ref" ref="populateBeanRef"/>
	</bean>

	<bean id="populateBeanRef" class="org.williamsun.spring.test.populateBean.PopulateBeanRef">
		<property name="sex" value="男"/>
	</bean>

</beans>